<div class="container">
	<h1><a href="https://github.com/lifegadget/ui-expanding-textarea">ui-expanding-textarea</a></h1>
	<h2>A simple textarea control with magic growing/shrinking powers</h2>

	<h3>Description</h3>
	<p>
		This component stands on the shoulder of the great work done by
		<a href="http://github.com/bgrins">@bgrins</a>, <a href="http://github.com/bgrins">@domchristie</a>, and originally Neil Jenkins article on
		<a href="http://bgrins.github.io/ExpandingTextareas/www.alistapart.com/articles/expanding-text-areas-made-elegant/">alistapart</a>.
	</p>

	<p>
		Simply stated, this is a textarea HTML control but unlike your run of the mill textarea this one expands and contracts to the appropriate
		size. How cool is that? Pretty cool. Ok, as you may have already guessed this component now wraps what was already spectacularly great into an
		Ember component.
	</p>

	<p>
		What was that noise? Was that your dropping on the floor? Yeah it's pretty great, huh?
	</p><p>
		Well with great controls, comes great responsibility.
		And of course what I mean is that if you use this completely amazing control you should feel responsible for sending in PR's for any problems you
		find with the Emberness of it (obviously the underlying goodness should be directed to the great authors previously mentioned).
	</p>

	<h3>Usage</h3>

	<div id="ui-number-array-input" class="container">
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" }}
			</div>
			<div class="col-xs-7 col-md-9">
				Basic usage<br/>
				<code>
	\{{ui-expanding-textarea value=myTextInput placeholder="your text here" }}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" rows=3 }}
			</div>
			<div class="col-xs-7 col-md-9">
				Default to 3 rows<br/>
				<code>
	\{{ui-expanding-textarea value=myTextInput placeholder="your text here" rows=3 }}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" wrap=false }}
			</div>
			<div class="col-xs-7 col-md-9">
				Wrap turned off (e.g., carraige return extends vertical space but words don't auto wrap)<br/>
				<code>
	\{{ui-expanding-textarea placeholder="your text here" wrap=false value=myTextInput}}
				</code>
			</div>
		</div>
      <div class="row">
        <div class="col-xs-5  col-md-3">
          {{ui-expanding-textarea value=lorem placeholder="your text here" }}
        </div>
        <div class="col-xs-7 col-md-9">
          Initialising control with value set<br/>
          <code>
    \{{ui-expanding-textarea value=lorem placeholder="your text here"}}
          </code>
        </div>
      </div>

	</div>



	<h3>Styles</h3>

	<div id="ui-number-array-input" class="container">
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" value=myTextInput}}
			</div>
			<div class="col-xs-7 col-md-9">
				Default/Bootstrap style<br/>
				<code>
	\{{ui-expanding-textarea value=myTextInput placeholder="your text here"}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" value=myTextInput style='minimalist'}}
			</div>
			<div class="col-xs-7 col-md-9">
				Minialist style<br/>
				<code>
	\{{ui-expanding-textarea value=myTextInput placeholder="your text here" style='minimalist'}}
				</code>
			</div>
		</div>
      <div class="row">
        <div class="col-xs-5  col-md-3">
          {{ui-expanding-textarea placeholder="your text here" value=myTextInput style='quoted' rows=2}}
        </div>
        <div class="col-xs-7 col-md-9">
          Quoted style<br/>
          <code>
    \{{ui-expanding-textarea value=myTextInput placeholder="your text here" style='quoted' rows=2}}
          </code>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-5  col-md-3">
            {{ui-expanding-textarea placeholder="your text here" value=myTextInput style='suave' rows=2}}
          </div>
          <div class="col-xs-7 col-md-9">
            Suave style<br/>
            <code>
      \{{ui-expanding-textarea value=myTextInput placeholder="your text here" style='suave' rows=2}}
            </code>
          </div>
        </div>
    </div>

	<h3>Alignment</h3>

	<div id="ui-number-array-input" class="container">
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" value=myTextInput style='minimalist' align="left"}}
			</div>
			<div class="col-xs-7 col-md-9">
				Left Alignment<br/>
				<code>
	\{{ui-expanding-textarea value=myTextInput placeholder="your text here" style='minimalist' align="left"}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" value=myTextInput style='minimalist' align="center"}}
			</div>
			<div class="col-xs-7 col-md-9">
				Centered Alignment<br/>
				<code>
	\{{ui-expanding-textarea value=myTextInput placeholder="your text here" style='minimalist' align="center"}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-expanding-textarea placeholder="your text here" value=myTextInput style='minimalist' align="right"}}
			</div>
			<div class="col-xs-7 col-md-9">
				Right Alignment<br/>
				<code>
	\{{ui-expanding-textarea value=myTextInput placeholder="your text here" style='minimalist' align="right"}}
				</code>
			</div>
		</div>
    </div>

</div>